*{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color: white;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(bg.jpg);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li{
    display: inline-block;
    margin: 10px 20px;
}
nav ul li a{
    color: white;
    font-size: 18px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
}
nav ul li a::after{
    content: '';
    height: 3px;
    width: 0;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.7s;
    background: lightskyblue;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 13%;
    font-size: 30px;
}
.header-text h1{
    font-size: 50px;
    margin-top: 13px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header-text h1 span{
    color: lightskyblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*----About Section----*/
#about{
    padding: 80px 0;
    color: gray;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
    height: 600px;
}
.about-col-2{
    flex-basis: 60%;
}
.subt{
    font-size: 60px;
    font-weight: 600;
    color: white;
}
.tabt{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: lightskyblue;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.7s;
}
.tab-links.skill::after{
    width: 70%;
}
.tab-content ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-content ul li span{
    color: lightcoral;
    font-size: 15px;
}
.tab-content{
    display: none;
}
.tab-content.t1{
    display: block;
}
/*-----Hobbies----*/
#hobbies{
    padding: 30px 0;
}
.hobbies-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}   
.hobbies-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s,transform 0.5s;
}
.hobbies-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.hobbies-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.hobbies-list div:hover{
    background: lightskyblue;
    transform: translateY(-10px);
}
/*-----My Work----*/
#portfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),rgb(4, 63, 100));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: rgb(2, 7, 16);
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid lightskyblue;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: background 0.5s;
}
.btn:hover{
    background: lightskyblue;
}
/*-----Responsive----*/
nav .fas{
    display: none;
}
@media only screen and (max-width: 600px){
    #header{
        background-image: url(images/bg1.png);
        
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .fa-bars{
        margin-top: 50px;
    }
    .header-text h1{
        font-size: 30px;
    }
    .para{
        font-size: 13px;
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: rgb(2, 34, 54);
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .subt{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    
}